:root {
  --border-color: oklch(15.28% 0.037 243.08);
  --heading-cell-color: oklch(82.80% 0.090 248.96);
  --cell-color: oklch(91.17% 0.045 249.36);
  --pagination-color: var(--heading-cell-color);
  --pagination-color-active: oklch(74.69% 0.135 250.37);
  --background-color: oklch(95.53% 0.022 248.06);
  --text-color: oklch(15.91% 0.000 89.88);
}